@import 'bootstrap/dist/css/bootstrap.min.css';
@import "@fontsource/red-hat-display";
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Red Hat Display";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Container{
  padding-top: 40px;
  /* width: min(90%, 70.5rem); */
}


/* header,
section{
  padding: 1em 0;
} */

/* section{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  padding-bottom: 40px
} */
/* section{
  height: 800px;
} */